footer {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
footer ul {
    justify-content: space-evenly;
}
footer ul lh {
    font-weight: 600;
}
footer ul li {
    list-style: none;
}